.crosscompute-Automation button:hover {
  color: var(--jp-ui-font-color1);
}

.crosscompute-LaunchLog {
  background: var(--jp-inverse-layout-color2);
  color: var(--jp-ui-inverse-font-color0);
  width: 100%;
  overflow: auto;
}

.crosscompute-LaunchControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.crosscompute-LaunchControl button {
  font-size: medium;
}
