.crosscompute-Automation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px 12px;
  background: var(--jp-layout-color1);
  color: var(--jp-ui-font-color1);
  overflow: auto;
}

.crosscompute-Automation > * + * {
  margin-top: 1em;
}

.crosscompute-Automation button:hover {
  color: var(--jp-ui-font-color1);
}

.crosscompute-AutomationInformation > * + * {
  margin-top: 1em;
}

.crosscompute-AutomationName {
  font-size: large;
  font-weight: bold;
}

.crosscompute-AutomationInformationBody > * + * {
  margin-top: 1em;
}

.crosscompute-BatchDefinitionsHeader {
  font-weight: bold;
}

.crosscompute-BatchDefinitions ul {
  list-style-type: none;
  padding-left: 0;
}

.crosscompute-LaunchLog {
  background: var(--jp-inverse-layout-color2);
  color: var(--jp-ui-inverse-font-color0);
  width: 100%;
  overflow: auto;
}

.crosscompute-LaunchControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.crosscompute-LaunchControl button {
  font-size: medium;
}

.crosscompute-Link {
  color: var(--jp-content-link-color);
}

.crosscompute-Link:hover {
  color: var(--jp-content-link-color);
  text-decoration: underline;
}
