.crosscompute-Automation {
  background: var(--jp-layout-color1);
  color: var(--jp-ui-font-color1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px 12px;
  overflow: auto;
}

.crosscompute-Link {
  color: var(--jp-content-link-color);
}

.crosscompute-Link:hover {
  color: var(--jp-content-link-color);
  text-decoration: underline;
}
