.crosscompute-Link {
  color: var(--jp-content-link-color);
}

.crosscompute-Link:hover {
  color: var(--jp-content-link-color);
  text-decoration: underline;
}

.crosscompute-Automation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--jp-layout-color1);
  padding: 8px 12px;
}

.crosscompute-AutomationInformation > * + * {
  margin-top: 1em;
}

.crosscompute-AutomationInformationHeader {
  font-size: large;
}

.crosscompute-AutomationName {
  font-weight: bold;
}

.crosscompute-AutomationInformationBody > * + * {
  margin-top: 1em;
}

.crosscompute-BatchDefinitionsHeader {
  font-weight: bold;
}

.crosscompute-BatchDefinitions ul {
  list-style-type: none;
  padding-left: 0;
}

.crosscompute-LaunchControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.crosscompute-LaunchControl button {
  font-size: medium;
}
